<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
    <link rel='stylesheet' href='/style.css'/>
</head>
<body>

<div>
    <table>
        <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Amount</td>
            <td>Currency</td>
            <td>Animal type</td>
            <td>King</td>
            <td>Good Guy?</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account, iterStat: ${accounts}" th:class="${iterStat}">
            <td th:text="${iterStat.index}"></td>
            <td th:text="${account.getName()}"></td>
            <td th:text="${#numbers.formatDecimal(account.getBalance(), 1, 2, 'POINT')}"></td>
            <td th:text="${account.getCurrency()}"></td>
            <td th:text="${account.getAnimalType()}"></td>
            <td th:if="${account.isKing()}" th:text="'King'"
                th:style="|color: red; background-color: black|">
            <td th:unless="${account.isKing()}" th:text="'Not a king'"
                th:style="|color: white; background-color: blue|">
            <td th:if="${account.isGood()}" th:text="'Good One'"></td>
            <td th:unless="${account.isGood()}" th:text="'Bad Guy'"></td>
        </tr>

        </tbody>
    </table>


</div>
</body>
</html>
