@model Simba.Models.BankAccount
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Simba Bank</title>
</head>
<body>
    <table>
        <thead>
            <tr>
            <td>Name</td>
            <td>Balance</td>
            <td>Animal Type</td>
            </tr>  
        </thead>
       <tr>
           <td> @Model.Name</td>
           <td> @Model.Name</td>
           <td> @Model.Currency</td>
           <td> @Model.AnimalType</td>
       </tr>
    </table>
  
</body>
</html>