* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 100%;
    margin: 20px 20px auto auto;
}

h1 {
    color: mediumturquoise;
    border-bottom: 2px solid mediumturquoise;
    margin: 20px;
}

a, .submit {
    display: inline-block;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 14px;
    line-height: 1.42857143;
    padding: 6px 12px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    white-space: nowrap;
    vertical-align: middle;
    background-color: tomato;
    color: white;
    margin: 15px;

}

a {
    font-weight: 200;
    text-transform: uppercase;
}

.submit {
    font-weight: bolder;
    padding: 10px 20px;
}

input[type="text"] {
    display: inline-block;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: left;
    font-size: 14px;
    line-height: 1.42857143;
    padding: 10px 12px;
    margin-bottom: 10px;
    border: 2px solid tomato;
    border-radius: 4px;
    white-space: nowrap;
    vertical-align: middle;
    color: grey;
    font-weight: bolder;
    width: 70%;
    margin: 15px;
}

label {
    color: tomato;
    font-size: 24px;
    font-weight: 300;
    display: block;
    margin: 15px;
}

.first-div, .second-div {
    width: 90%;
}

table {
    margin: 15px;
    width: 90%;
    padding: 20px;
    line-height: 5;
}

thead {
    background-color: mediumturquoise;
    border: 1px solid white;
    font-weight: bolder;
    padding: 30px 10px 30px 10px;
    text-align: center;
}

tbody {
    font-weight: bolder;
}

tbody td {
    padding-left: 25px;
}
