<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fox club</title>
</head>
<body>
<a href="">Information</a><br/>
<img src="greenfox.png">
<p th:text="'This is '+ ${foxName} + '. Currently living on '+ ${food} + ' and ' + ${drink} + '. He knows 2 tricks.'">This is Mr. Fox. Currently livig on pizza and lemonade. He knows 2 tricks.</p>
<h1>Known tricks</h1>
<ul>
    <li>write HTML</li>
    <li>code in Java</li>
</ul>


</body>
</html>
