<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fox club</title>
</head>
<body>
<a href="">Information</a><br/>
<a href="/login">Login</a><br/>
<img src="greenfox.png">
<p th:text="|This is ${foxName}. Currently living on ${food} and ${drink}. He knows ${size} tricks.|">This is
    Mr. Fox. Currently livig on pizza and lemonade. He knows 1 trick.</p>
<h1>Known tricks</h1>
    <ul th:each="trick: ${tricks}">
         <li th:text="${trick}">write HTML</li>
    </ul>
</body>
</html>

