<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Login</title>
</head>
<body class="container">
<nav class="navbar navbar-dark bg-sucess">
    <a href="">Information</a><br/>
    <a th:href="@{/nutrition}">Nutrition store</a><br/>
    <a href="/login">Login</a><br/>
    <a href="/add">Add a new fox</a><br/>
</nav>
    <h1>Welcome to Programmer Fox Club!</h1>
    <p>Please provide a name, so you can associate it to your pet!</p>
    <p th:text="${notExists}" th:style="|color: red|"></p>
    <p th:text="${null}" th:style="|color: red|"></p>

    <form th:action="@{/login}" th:method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <button style="text-transform: uppercase">go</button>
    </form>

  <!--  <form action="/login" method="post">
        <input type="text" name="name" id="addName">
        <button style="text-transform: uppercase">go</button>
    </form>-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
</body>
</html>
