<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Welcome to Programmer Fox Club!</h1>
    <p>Please provide a name, so you can associate it to your pet!</p>
    <p th:text="${notExists}" th:style="|color: red|"></p>
    <p th:text="${null}" th:style="|color: red|"></p>

    <form th:action="@{/login}" th:method="post">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <button style="text-transform: uppercase">go</button>
    </form>

  <!--  <form action="/login" method="post">
        <input type="text" name="name" id="addName">
        <button style="text-transform: uppercase">go</button>
    </form>-->

</body>
</html>
