* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 100%;
    margin: 20px 20px auto auto;
    background-color: khaki;
}

h1 {
    color: mediumturquoise;
    border-bottom: 2px solid mediumturquoise;
    margin: 20px;
}


table {
    border-collapse: collapse;
    border: 1px solid mediumturquoise;
    margin: 15px;
    width: 90%;
    padding: 20px;
    line-height: 5;
    color: black;
}

thead {
    background-color: mediumturquoise;
    border: 1px solid black;
    font-weight: bolder;
    padding: 30px 10px 30px 10px;
    text-align: center;
    border-collapse: collapse;

}

tbody {
    font-weight: bolder;
    border-collapse: collapse;
    border: 1px solid mediumturquoise;
}

tbody td {
    padding-left: 25px;
    border: 1px solid mediumturquoise;
    border-collapse: collapse;
}
