form {
   text-transform: uppercase;
    /*font-family:'PT Serif', serif; /*"Helvetica", "Arial", sans-serif;*/
    font-size: 16px;
    /*line-height: 3;*/
    text-align: center;
    margin: auto;
    padding: 30px;
  
  }

  h1 {
    font-size: 24px; 
  }

  label {
    font-size: 12px; 
    letter-spacing: 2px;

  }

  label, input {
      display: block;
      text-align: center;
  }
 
  button {
      background-color: black;
      color: white;
      border-radius: 3px;
      font-size: 12px; 
      margin: 10px;
      padding: 25px, 20px;
  }