<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo list</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>


<a href="/add" >Submit new post</a><br>

<h1>Trending posts</h1>
<table class="table table-hover">
    <thead class="thead-light">
    <tr>
        <th>Likes</th>
        <th>Liked it </th>
        <th>Don't like it</th>
        <th>Reddit</th>
    </tr>
    </thead>
    <tr th:each="post : ${posts}">
        <td th:text="${post.likes}"></td>
        <td>
            <a th:href="@{/liked/{id}(id=${post.getId()})}" th:method="post"/>+</td>
        <td>
            <a th:href="@{/notLiked/{id}(id=${post.getId()})}" th:method="post"/>-</button></td>
        <td>
            <a th:href="${post.url}" th:text="${post.title}"/></td>
        <td type="text" th:text="${post.id}"></td>

    </tr>
</table>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
