<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assignees</title>
</head>
<body>
<a href="/todo/addassignee" >Add new assignee</a><br>
<h1>List of assignees</h1>
<table>

    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>Email</th>

    </tr>
    <tr th:each="item: ${assignees}">
        <td th:text="${item.id}">Name</td>
        <td th:text="${item.name}">Name</td>
        <td th:text="${item.email}">Email</td>
        <td> <a th:href="@{/todo/asssign/{id}/delete(id=${item.getId()})}" th:action="@{/todo/asssign/{id}/delete(id=${item.getId()})}">delete</a></td>
        <td>
            <a th:href="@{/todo/assign/{id}/edit(id=${item.getId()})}" th:action="@{/todo/assign/{id}/edit(id=${item.getId()})}">edit</a>

        </td>

    </tr>
</table>
</body>
</html>
